@charset "UTF-8";

body {
  background-color: #0f380f;
}

#startGameBtn {
  text-align: center;
  margin: 10px;
  border: #9bbc0f solid 8px;
  background-color:  #0f380f;
  box-shadow: #306230 5px 5px;
  color: #9bbc0f;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  margin-left: 50px;
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

#restartGameBtn {
  text-align: center;
  float: right;
  margin: 10px;
  border: #9bbc0f solid 8px;
  background-color:  #0f380f;
  box-shadow: #306230 5px 5px;
  color: #9bbc0f;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  margin-left: 50px;
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

#gameBoard {
  margin-right: 150px;
}


#letterButtons {
  text-align: center;
  list-style: none;
  display:flex;
  flex-wrap: wrap;

}

#letterBoxes {
  color: #9bbc0f;
  margin-top: 50px;
  text-align: center;
}

.btn {
  font-family: 'Press Start 2P', cursive;
  border: #9bbc0f solid 8px;
  background-color:  #0f380f;
  color: #9bbc0f;
  box-shadow: #306230 5px 5px;
  font-size: 30px;
  padding: 7px;
  margin: 10px;
}

.listItem {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  display: inline-flex;
  justify-content: center;
}

.listBorder {
  border-bottom: #9bbc0f solid 5px;
  margin: 10px;
  width: 30px;
}

#message {
  text-align: center;
  margin-right: 150px;
  margin-left: 150px;
  font-family: 'Press Start 2P', cursive;
  color: #9bbc0f;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hangman {
  height: 320px;
}


@media screen and (max-width: 415px) {
  #startGameBtn{
    font-size: 20px;
  }

  #restartGameBtn{
    font-size: 20px;
    float: left;
  }

  #letterButtons {
    margin-top: 80px;
    text-align: center;
    margin: -40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .btn {
    font-size: 15px;
  }

  #letterBoxes {
    display: flex;
    flex-wrap: wrap;
  }

  .listItem {
    font-size: 25px;
  }

  .listBorder {
    text-align: center;
    margin: 2px;
  }

  #message {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #hangman{
    height: 100px;
  }

  .lose {
    font-size: 10px;
    margin-left: -100px;
  }
}


