@charset "UTF-8";

body {
  background-color: black;
}

#startGameBtn, #restartGameBtn {
  text-align: center;
  border: rgb(43, 255, 0) solid 8px;
  background-color: black;
  box-shadow: rgb(25, 146, 0) 5px 5px;
  color: rgb(43, 255, 0);
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  margin: 10px;
  margin-left: 50px;
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;

  /* display: flex;
  align-items: center; */
}


#letterButtons {
  text-align: center;
  list-style: none;
  display:flex;
  flex-wrap: wrap;
}

.btn {
  font-family: 'Press Start 2P', cursive;
  border: rgb(255, 0, 234) solid 8px;
  background-color: black;
  color: rgb(255, 0, 234);
  box-shadow: rgb(119, 0, 109) 5px 5px;
  font-size: 50px;
  padding: 7px;
  margin: 10px;
}

input {
  border: none;
  border-bottom: 2px solid white;
  margin:10px;
  width: 20px;
  background-color: white;
}

 #letterContainers {
   list-style: none;
   font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;

}