@charset "UTF-8";

body {
  background-color: rgb(0, 57, 83);
}

#startGameBtn {
  text-align: center;
  margin: 10px;
  border: rgb(43, 255, 0) solid 8px;
  background-color: black;
  box-shadow: rgb(25, 146, 0) 5px 5px;
  color: rgb(43, 255, 0);
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  margin-left: 50px;
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

#restartGameBtn {
  text-align: center;
  float: right;
  margin: 10px;
  border: rgb(43, 255, 0) solid 8px;
  background-color: black;
  box-shadow: rgb(25, 146, 0) 5px 5px;
  color: rgb(43, 255, 0);
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  margin-left: 50px;
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

#gameBoard {
  margin-left: 150px;
  margin-right: 150px;
  float: left;
}


#letterButtons {
  text-align: center;
  list-style: none;
  display:flex;
  flex-wrap: wrap;
}

#letterBoxes {
  list-style: armenian;
}

.btn {
  font-family: 'Press Start 2P', cursive;
  border: rgb(255, 0, 234) solid 8px;
  background-color: black;
  color: rgb(255, 0, 234);
  box-shadow: rgb(119, 0, 109) 5px 5px;
  font-size: 50px;
  padding: 7px;
  margin: 10px;
}

.listItem {
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  display: inline-flex;
  justify-content: center;
}

.listBorder {
  border-bottom: black solid 5px;
  margin: 10px;
  width: 30px;
}

#message {
  text-align: center;
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
}

